/* Modal positioning */
.bbm-wrapper {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 50px 10px;
  overflow: auto; }
  .bbm-wrapper * {
    box-sizing: border-box; }

.bbm-modal {
  border-radius: 3px;
  margin: auto;
  width: auto;
  max-width: 850px; }

.bbm-modal .dpx-span { width: 100%; }
.bbm-modal input  { width: 150px; }
.bbm-modal select { width: 150px; }

.bbm-views {
  width: 100%;
  box-sizing: border-box;
}

.bbm-dpx-btn[tabvalue='-'] {
    border-radius: 8px 8px 0px 0px !important;
    border-style: dotted dotted none none;
}

.bbm-dpx-curbtn[tabvalue='-'] {
    border-radius: 8px 8px 0px 0px !important;
    border-style: dotted dotted none none;
}

.bbm-dpx-btn[disabled] { opacity: .20!important; }

/* Style the tab content */
.bbm-dpx-hidden {
    width: -moz-available;
    display: none;
}
.bbm-dpx-curtab {
    width: -moz-available;
    border-top: 5px solid lightgray;
    border-bottom: none!important;
    border-right: none!important;
    border-left: none!important;
}
